<%- include('../partials/header') %>

<div class="container">

    <h2>Login Profile</h2>
    <hr>
    <form action="/profiles/login" method="post">
        <div class="">
            <label for="name">Enter Username</label>
            <input type="text" name="name" id="name" placeholder="Username">
         </div>
         <div class="">
            <label for="password">Enter Password</label>
             <input type="password" name="password" id="password" placeholder="Password">
         </div>
         <div class="">
            <button type="submit">Login</button>
         </div>
    </form>



</div>

<%- include('../partials/footer') %>