<%- include('./partials/header') %>

<div class="container mt-5">

    <h2>Welcome Student Library Platform</h2>

    <div class="card mb-3 mt-3">
        <img src="./img/vladimir-mokry-G-4wX5tZNuE-unsplash.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    




</div>

<%- include('./partials/footer') %>
