<%- include('./partials/header') %>

<div class="container mt-5">

    <div class="card text-bg-dark mt-3 col-md-8 offset-md-2">
      <img src="http://localhost:8080/img/img1.jpg" class="card-img-top" alt="..." style="height: 21rem;">
      <div class="card-body">
        <h3 class="text-center">Welcome Student Library Platform</h3>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo libero iure iste porro assumenda accusamus eum culpa tempora minima quos, aut sed, corporis reprehenderit officia?</p>
      </div>
    </div>
    
</div>

<%- include('./partials/footer') %>
